*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.726), rgba(26, 129, 197, 0.726));
    font-family: Dana;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#title{
    color: #555;
    font-size: 3rem;
    margin-bottom: 2rem;
}
#input-degree{
    margin-bottom: 4rem;
    padding: 1rem;
    outline: none;
    border: none;
    border-radius: 2rem;
    transition: .4s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
#input-degree:hover{
    padding: 1rem 2rem;
}
.btns button{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin: 2rem;
    width: 150px;
    border: none;
    padding: 1rem 2rem;
    border-radius: 2rem;
    color: #666;
    font-size: 1.2rem;
    transition: .2s;
    cursor: pointer;
}
.btns button:hover{
    background-color: rgba(78, 172, 78, 0.842);
    color: #fff;
}
#btn-reset:hover{
    background-color: tomato;
}
#btn-change:hover{
    background-color: goldenrod;
}
#desc{
    color: #555;
    font-size: 2.5rem;
    font-weight: 600;
    display: none;
}