*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #679289;
    font-family: Dana;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.box{
    width: 300px;
}
.task-box{
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.tasks{
    list-style: none;
}
.tasks li{
    width: 300px;
    background-color: #071E22;
    padding: 1rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    border-radius: .3rem;
}
.tasks li img{
    width: 40px;
    cursor: no-drop;
}
.task-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.task-sec h2{
    margin-bottom: 1rem;
    color: #071E22;
}
.task-sec input{
    width: 300px;
    padding: 1rem;
    border: none;
    border-radius: .3rem;
    box-shadow: 65px 16px 89px 38px rgba(0,0,0,0.1);
    outline: none;
    color: #679289;
    font-size: 18px;
}
.task-sec input:focus{
    box-shadow: inset 0px 0px 16px 9px rgba(0,0,0,0.1);
    color: #679289;
    font-size: 18px;
}
.trash{
    display: flex;
    align-items: end;
    justify-content: start;
    position: absolute;
    bottom: 8rem;
    right: 10rem;
}
.counter{
    position: absolute;
    background-color: transparent;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    padding-bottom: 1.5rem;
    font-size: 24px;
    font-weight: 700;
    color: #EE2E31;
}
.trash img{
    width: 70px;
}