*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(to bottom, #ffffff6e, #5c5c5c8c), url('./img-poster/Ali-Zand-Vakili-Zibatarin-Roya.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #eee;
    backdrop-filter: blur(10px);
    background-size: cover;
    flex-direction: column;
    font-family: Dana;
}
.container{
    background-color: #8f8f8fbd;
    border-radius: 5rem;
    height: 500px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
}
.poster{
    position: absolute;
    margin-bottom: 22rem;
}
.poster img{
    width: 250px;
    border-radius: 2rem;
}
.music-box{
    margin: 2rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
button{
    width: 60px;
    height: 60px;
    margin: 1rem;
    border: none;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    transition: .2s;
}
button:hover{
    background-color: #39a6e6b0;
    color: #eee;
}
.handler-music{
    display: flex;
    justify-content: center;
    align-items: center;
}
#skip{
    margin: 0.5rem .5rem;

    width: 40px;
    height: 40px;
}
#back{
    margin: .5rem .5rem;

    width: 40px;
    height: 40px;
}
.details{
    text-align: center;
    /* margin-top: 20rem; */
}