:root{
    --white: #FFF;
    --golden: #FDD57F;
    --yellow: #FEFA84;
    --limon: #D3F784;
    --green: #79F780;
    --darkcyan: #7CFAD7;
    --cyan: #77FFFF;
    --blue: #7DD3FB;
    --darkpurple: #7B84FE;
    --purple: #D58AFC;
    --pink: #F78CFF;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
.container h1{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4rem;
    color: #555;
    letter-spacing: 1rem;
}
.container input{
    padding: .7rem;
    width: 500px;
    border: none;
    border-radius: .3rem;
    outline: none;
    margin-bottom: 1rem;

}
.container input:focus{
    border: none;
    box-shadow: 0px 0px 5px 4px rgba(50, 171, 228, 0.733);
    font-size: 20px;
}
.container input::placeholder{
    font-size: 20px;
    letter-spacing: 1rem;
}
#pallet{
    display: flex;
}
#pallet > div{
    width: 20px;
    height: 20px;
    border: #aaa .5px solid;
    border-radius: 5rem;
    margin-right: .7rem;
    cursor: pointer;
    color: transparent;
}
.btn{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 5rem;
}
.btn > button{
    padding: .6rem;
    display: flex;
    margin-left: .2rem;
    cursor: pointer;
    font-size: 18px;
    border-radius: .1rem;
    transition: .1s;
}
.btn > button:first-child{
    border: rgba(50, 171, 228, 0.733) .5px solid;
    color: rgba(50, 171, 228, 0.733);
}
.btn > button:first-child:hover{
    background-color: rgb(50, 172, 228);
    color: #fff;
}
.btn > button:last-child{
    border: tomato .5px solid;
    color: tomato;
}
.btn > button:last-child:hover{
    background-color: tomato;
    color: #fff;
}
#pallet :nth-last-child(11){
    background-color: var(--white);
}
#pallet :nth-last-child(10){
    background-color: var(--golden);
}
#pallet :nth-last-child(9){
    background-color: var(--yellow);
}
#pallet :nth-last-child(8){
    background-color: var(--limon);
}
#pallet :nth-last-child(7){
    background-color: var(--green);
}
#pallet :nth-last-child(6){
    background-color: var(--darkcyan);
}
#pallet :nth-last-child(5){
    background-color: var(--cyan);
}
#pallet :nth-last-child(4){
    background-color: var(--blue);
}
#pallet :nth-last-child(3){
    background-color: var(--darkpurple);
}
#pallet :nth-last-child(2){
    background-color: var(--purple);
}
#pallet :nth-last-child(1){
    background-color: var(--pink);
}
#notes{
    width: 80%;
    text-align: center; 
}
.note {
    padding: 1.5rem;
    margin: 1rem;
    font-size: 24px;
    color: #555;
    font-weight: 500;
    border-radius: .3rem;
    transition: .2s;
    letter-spacing: .5rem;
}
.note:hover{
    transform: scale(1.03);
}