*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #eee;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.logo{
    margin-top: 1rem;
    padding: 2rem;
    letter-spacing: 1rem;
    font-size: 42px;
    font-weight: bold;
    color: gray;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}
ul > li{
    margin-right: 1rem;
    font-size: 24px;
    font-weight: 600;
    color: #bbb;
}
ul > li:hover{
    color: gray;
}
.main{
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.products-card{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 7rem;
}
.details{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer{
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    margin-top: 7rem;
}
